@font-face{
    font-family:'quantico';
    src:url('Quantico-Regular.ttf');
}

@keyframes blinkDraw {
    50% {
        background-color:pink;
    }
}

@keyframes blinkWin {
    50% {
        background-color:lightgreen;
    }
}

body{
display:flex;
justify-content:center;
align-items:center;


}

img{
    display:flex;
    width:100%;
    height:100%;
}

.hiddenDiv{
    background-color:white;
    display:none;
    position:absolute;
    width:50vw;
    height:25vh;
    font-family:'quantico','Courier New', Courier, monospace;
    border: solid 4px black;
}

#hiddenBox{
    display:none;
}

.continue{
    display:none;
}

.nameInput{
    display:none;
    width:100%;
    font-size:2em;
    justify-content:space-around;
    align-items:center;
}

.nameBox{
    display:flex;
    width:100%;
    font-size:2em;
    justify-content:center;
    align-items:center;
    grid-column:1/-1;
}

#nameInputForm{
    display:flex;
    width:100%;
    justify-content:center;
    gap:20px;
}

#submitName{
    width:max-content;
}

.playerVSCPU{
/*if turning on display here choose flex!*/
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:100%;
    width:100%;
    font-size:4em;
    font-family:'quantico'
}

.cpuVScpu{
    justify-content:space-evenly;
    align-items:center;
    height:100%;
    width:100%;
    display:none;
}

.choiceBox{
    display:flex;
    background-color:white;
    height:80%;
    width:20%;
    justify-content:center;
    align-items:center;
    border:solid 2px black;
}

.choiceBox:hover{
    cursor:grab;
}


.superContainer{
    background-color:white;
    font-family:'quantico','Courier New', Courier, monospace;
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
    height:100vh;
    min-width:50vw;
    max-width:1200px;
    
}

.leftContainer{
background-color: white;
}




.centerContainer{
    display:grid;
    grid-template-rows: 1fr 5fr 1fr;
    width:40vw;
    gap:40px;
}

.msgBox{
    height:10vh;
    justify-self:center;
    background-color:white;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3em;
}

.tttContainer{
    height:50vh;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border:solid 2px gray;
}

.insideBox{
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:100%;
font-size:5em;
}

.gameButtons{
    height:10vh;
    display:flex;
    background-color:white;
    justify-content:space-evenly;
    align-self:center;
    width:100%;
}

.rightContainer{
background-color: white;

}

.outsideContainer{
    width:15vw;
    display:grid;
    grid-template-columns: 1fr 1fr;;
    font-family:'Courier New', Courier, monospace

}


.iconBox{
    height:20vh;
    width:100%;
    justify-self:center;
    align-self:center;
    border:solid 2px black;
    grid-column:1/-1
}

.scoreBox{
    display:flex;
    height:10vh;
    justify-content:center;
    align-items:center;
    background-color:white;
    width:100%;
    font-size:2em;
}

/*tictactoe grid styling*/
    #box0{
    width:100%;
    height:100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
   }
   
   #box1{
    width:100%;
    height:100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
   }

   #box2{
    width:100%;
    height:100%;
    border-bottom: solid 2px black; 
   }

   #box3{
    width:100%;
    height:100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
   }

   #box4{
    width:100%;
    height:100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
   }

   #box5{
    width:100%;
    height:100%;
    border-bottom: solid 2px black; 
   }

   #box6{
    width:100%;
    height:100%;
    border-right: solid 2px black;

   }

   #box7{
    width:100%;
    height:100%;
    border-right: solid 2px black;

   }

   #box8{
    width:100%;
    height:100%;

   }


